<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTZkpQ7GHF_Q4lc0WG4HkuRw73TQLA6zM</string>
	<key>GCM_SENDER_ID</key>
	<string>1069393524561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHealthHome</string>
	<key>PROJECT_ID</key>
	<string>the-elite-space-d1a20</string>
	<key>STORAGE_BUCKET</key>
	<string>the-elite-space-d1a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069393524561:ios:f7b3ce9444f5befd810570</string>
</dict>
</plist>